/* 
************************************
Table of Content
(1) - Google Font
(2) - Color Palette
(3) - Typography Size
(4) - Typography Weight
(5) - Typography Declaration
(6) - Border-box and Reset
(7) - Flex Column
(8) - Overlay
(9) - Wrapper
(10) - Pop Over Modal
(11) - Header
(12) - Main
(13) - Footer
(14) - Animation
(15) - Reponsive Breakpoint 1350px
    (15.1) - Wrapper
    (15.2) - Pop Over
    (15.3) - Header
    (15.4) - Main
    (15.5) - Footer
(16) - Reponsive Breakpoint 1150px
    (16.1) - Wrapper
    (16.2) - Pop Over
    (16.3) - Header
    (16.4) - Main
    (16.5) - Footer
(17) - Reponsive Breakpoint 910px
    (17.1) - Wrapper
    (17.2) - Pop Over
    (17.3) - Header
    (17.4) - Main
    (17.5) - Footer
(18) - Reponsive Breakpoint 680px
    (18.1) - Wrapper
    (18.2) - Pop Over
    (18.3) - Header
    (18.4) - Main
    (18.5) - Footer
(19) - Reponsive Breakpoint 470px
    (19.1) - Pop Over
    (19.2) - Header
    (19.3) - Main
    (19.4) - Footer
************************************
*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,400&family=Montserrat:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.wrapper {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.pop-over {
  display: -ms-grid;
  display: grid;
  grid: repeat(3, auto)/repeat(12, 90px);
  gap: 20px;
  margin: 80px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  visibility: hidden;
  opacity: 0;
}

.pop-over::after {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #fff;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  pointer-events: none;
}

.pop-over .shaving-cream {
  position: absolute;
  top: 140px;
  right: -90px;
}

.pop-over .knife {
  position: absolute;
  top: 50%;
  left: -390px;
}

.pop-over .close-button {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  fill-rule: nonzero;
  -webkit-transform: translate(45px, 25px);
          transform: translate(45px, 25px);
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12 / span 1;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.pop-over .close-button path {
  fill: #9F173D;
}

.pop-over .top-frame, .pop-over .bottom-frame {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  width: 160px;
  position: absolute;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  right: 50%;
}

.pop-over .top-frame {
  height: 510px;
  top: -5%;
}

.pop-over .top-frame path {
  fill: rgba(244, 244, 244, 0.5);
}

.pop-over .bottom-frame {
  height: 110px;
  bottom: -5%;
}

.pop-over .bottom-frame path {
  fill: #f4f4f4;
}

header {
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: 1 / 4 / span 1 / span 6;
  padding-top: 80px;
}

header p:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
  opacity: 0;
}

header p:nth-child(2) {
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  margin-top: 35px;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  opacity: 0;
}

header h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 70px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  line-height: 60px;
  margin-top: 35px;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
  opacity: 0;
}

header h1 span:nth-child(2) {
  color: #9F173D;
}

header p:nth-child(4) {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 65px;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  opacity: 0;
}

header svg {
  margin-top: 50px;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}

header svg path {
  fill: none;
  stroke: #9f173d;
  stroke-width: 1.5px;
}

main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: 2 / 4 / span 1 / span 6;
}

main h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  margin: 40px 0;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  opacity: 0;
}

main ul {
  list-style: none;
  -webkit-transform: translateX(45px);
          transform: translateX(45px);
  padding-bottom: 40px;
}

main ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
  opacity: 0;
}

main ul li::before {
  content: " ";
  color: #9F173D;
  display: inline-block;
  margin-right: 15px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  width: 5px;
  height: 5px;
  background: url("../img/diamond.svg");
}

footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 3 / 1 / span 1 / span 12;
  background-color: #9F173D;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer h2, footer h3 {
  text-align: center;
  color: #fff;
}

footer h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
  opacity: 0;
}

footer h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
  opacity: 0;
}

footer .form {
  margin-top: 20px;
}

footer .form button, footer .form input {
  border: none;
  outline: none;
}

footer .form input {
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-right: 5px;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
  opacity: 0;
}

footer .form input::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

footer .form input:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

footer .form input::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

footer .form input::placeholder {
  color: #000;
  opacity: 1;
}

footer .form button {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  opacity: 0;
  cursor: pointer;
}

footer .terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 90px 0;
  width: 40%;
}

footer .terms img {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  cursor: pointer;
}

footer .terms .hide {
  display: none;
}

footer .terms p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-animation-name: visible;
          animation-name: visible;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
  opacity: 0;
}

@-webkit-keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  -webkit-animation: visible 0.5s ease-out forwards;
          animation: visible 0.5s ease-out forwards;
}

@-webkit-keyframes hidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.close {
  opacity: 0;
  -webkit-animation: hidden 1s ease-out forwards;
          animation: hidden 1s ease-out forwards;
}

@media (max-width: 1350px) {
  .wrapper {
    max-width: 900px;
  }
  .pop-over {
    grid: repeat(3, auto)/repeat(10, 90px);
  }
  .pop-over .shaving-cream {
    top: 220px;
    right: -95px;
  }
  .pop-over .knife {
    top: 50%;
    left: -430px;
  }
  .pop-over .close-button {
    -ms-grid-column: 10;
    -ms-grid-column-span: 1;
    grid-column: 10 / span 1;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-area: 1 / 3 / span 1 / span 6;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-area: 2 / 3 / span 1 / span 6;
  }
  main ul li::before {
    margin-right: -5px;
    -webkit-transform: translate(-15px, -2px);
            transform: translate(-15px, -2px);
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-area: 3 / 1 / span 1 / span 10;
  }
}

@media (max-width: 1150px) {
  .wrapper {
    max-width: 720px;
  }
  .pop-over {
    grid: repeat(3, auto)/repeat(8, 90px);
  }
  .pop-over .close-button {
    -ms-grid-column: 8;
    -ms-grid-column-span: 1;
    grid-column: 8 / span 1;
  }
  .pop-over::after {
    -webkit-transform: scale(1.02, 1.01);
            transform: scale(1.02, 1.01);
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-area: 1 / 3 / span 1 / span 4;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 4;
    grid-area: 2 / 3 / span 1 / span 4;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 3 / 1 / span 1 / span 8;
  }
}

@media (max-width: 910px) {
  .wrapper {
    max-width: 540px;
  }
  .pop-over {
    grid: repeat(3, auto)/repeat(6, 90px);
  }
  .pop-over .close-button {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6 / span 1;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 1 / 2 / span 1 / span 4;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 2 / 2 / span 1 / span 4;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: 3 / 1 / span 1 / span 6;
  }
  footer .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .form input, footer .form button {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 680px) {
  .wrapper {
    max-width: 360px;
  }
  .pop-over {
    grid: repeat(3, auto)/repeat(4, 90px);
  }
  .pop-over .shaving-cream {
    top: 180px;
    right: -120px;
  }
  .pop-over .knife {
    top: 30%;
    left: -480px;
  }
  .pop-over .top-frame {
    top: -2.5%;
  }
  .pop-over .bottom-frame {
    bottom: -2.5%;
  }
  .pop-over .close-button {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / span 1;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1 / 2 / span 1 / span 2;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 2 / 2 / span 1 / span 2;
  }
  main ul {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  main ul li {
    padding-bottom: 10px;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: 3 / 1 / span 1 / span 4;
  }
  footer .terms {
    width: 60%;
  }
}

@media (max-width: 470px) {
  .pop-over {
    grid: repeat(3, auto)/repeat(2, 1fr);
  }
  .pop-over .shaving-cream {
    right: -90px;
  }
  .pop-over .knife {
    left: -380px;
  }
  .pop-over .top-frame {
    top: -8.5%;
  }
  .pop-over .bottom-frame {
    bottom: -3.5%;
  }
  .pop-over .close-button {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    position: absolute;
    top: 0;
    right: 55px;
  }
  .pop-over::after {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  main, footer {
    padding-right: 45px;
    padding-left: 45px;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 45px;
  }
  header h1 {
    font-size: 55px;
    line-height: 45px;
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / span 1 / span 2;
  }
  main ul {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  main ul li {
    padding-bottom: 10px;
  }
  footer {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / span 1 / span 2;
  }
  footer .terms {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */