/* 
************************************
Table of Content
(1) - Google Font
(2) - Color Palette
(3) - Typography Size
(4) - Typography Weight
(5) - Typography Declaration
(6) - Border-box and Reset
(7) - Flex Column
(8) - Pop Over Wrapper

************************************
*/

// (1) - Google Font
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;1,400&family=Montserrat:wght@300;400;600&display=swap');

$serif: 'Cormorant Garamond', serif;
$sans-serif: 'Montserrat', sans-serif;

// (2) - Color Palette
$primary: #9F173D;
$dark: #000;
$negative: #fff;

// (3) - Typography Size
$xl: 70px;
$lg: 32px;
$md: 24px;
$sm: 20px;
$xs: 16px;

// (4) - Typography Weight

$bold: 600;
$regular: 400;
$thin: 300;

// (5) - Typography Declaration

@mixin typography($family, $size, $weight) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

// (6) - Border-box and Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

// (7) - Flex Column

@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// (8) - SVG attributes

@mixin svgAttributes {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
}

@mixin svgFrame {
    width: 160px;
    position: absolute;
    transform: translateX(50%);
    right: 50%;
}

@mixin fadeIn($time) {
    animation-name: visible;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: $time;
    opacity: 0;
}

// () - Wrapper

.wrapper {
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

// () - Pop Over
.pop-over {
    display: grid;
    grid: repeat(3, auto) / repeat(12, 90px);
    gap: 20px;
    margin: 80px 0;
    background-color: $negative;
    box-shadow: 0 0 30px 10px transparentize($dark, 0.95);
    position: relative;
    visibility: hidden;
    opacity: 0;

    // Shaving Cream image
    .shaving-cream {
        position: absolute;
        top: 140px;
        right: -90px;
    }

    // Kinfe image
    .knife {
        position: absolute;
        top: 50%;
        left: -390px;
    }

    // Close button " X "
    .close-button {
        @include svgAttributes();
        fill-rule: nonzero;
        transform: translate(45px, 25px);
        grid-column: 12 / span 1;
        cursor: pointer;
        width: 25px;
        height: 25px;

        path {
            fill: $primary;
        }
    }

    // SVG rectangle frames
    .top-frame, .bottom-frame {
        @include svgAttributes();
        @include svgFrame();
    }

    // SVG top rectangle
    .top-frame {
        height: 510px;
        top: -5%;

        path {
            fill:rgba(244, 244, 244, 0.5);
        }
    }

    // SVG bottom rectangle
    .bottom-frame {
        height: 110px;
        bottom: -5%;

        path {
            fill:rgb(244, 244, 244);
        }
    }
}

// () - Header
header {
    text-align: center;
    grid-area: 1 / 4 / span 1 / span 6;
    padding-top: 80px;

    // "You are Cortdially Invited" heading
    p:first-child {
        @include typography($sans-serif, $xs, $thin);
        @include flexColumn();
        letter-spacing: 2px;
        text-transform: uppercase;
        @include fadeIn(3.1s);
    }


    // "of the" text
    p:nth-child(2) {
        @include typography($serif, $md, $regular);
        font-style: italic;
        margin-top: 35px;
        @include fadeIn(3.2s);
    }

    // "New Company Website" heading
    h1 {
        @include typography($serif, $xl, $bold);
        @include flexColumn();
        text-transform: uppercase;
        line-height: 60px;
        margin-top: 35px;
        @include fadeIn(3.3s);

        span:nth-child(2) {
            color: $primary;
        }
    }

    // Final Paragraph
    p:nth-child(4) {
        @include typography($sans-serif, $xs, $regular);
        line-height: 30px;
        margin-top: 65px;
        @include fadeIn(3.4s);
    }

    // SVG underline
    svg {
        margin-top: 50px;
        @include svgAttributes();

        path {
            fill:none;
            stroke:rgb(159, 23, 61);
            stroke-width:1.5px;
        }
    }
}

// () - Main
main {
    grid-area: 2 / 4 / span 1 / span 6;

    // Header 2
    h2 {
        @include typography($sans-serif, $xs, $regular);
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        margin: 40px 0;
        @include fadeIn(3.5s);
    }

    // List style
    ul {
        list-style: none;
        transform: translateX(45px);
        padding-bottom: 40px;
        li {
            @include typography($sans-serif, $xs, $regular);
            margin-bottom: 10px;
            @include fadeIn(3.6s);
        }

        // Custom diamond bullet points
        li::before {
            content: " ";
            color: $primary;
            display: inline-block;
            margin-right: 15px;
            transform: translateY(-2px);
            width: 5px;
            height: 5px;
            background: url('../img/diamond.svg');
        }
    }
}

// () - Footer
footer {
    grid-area: 3 / 1 / span 1 / span 12;
    background-color: $primary;
    padding-top: 70px;
    @include flexColumn();

    h2, h3 {
        text-align: center;
        color: $negative;
    }

    // Get Your Foot in the Door
    h2 {
        @include typography($serif, $lg, $bold);
        text-transform: uppercase;
        @include fadeIn(3.7s);
        
    }

    // Know the moment our new website goes live
    h3 {
        @include typography($sans-serif, $xs, $regular);
        @include fadeIn(3.8s);
    }

    // Form Submission
    .form {
        margin-top: 20px;

        button, input {
            border: none;
            outline: none;
        }

        input {
            padding: 15px;
            @include typography($sans-serif, $xs, $regular);
            margin-right: 5px;
            @include fadeIn(3.9s);

            // input placeholder
            &::placeholder {
                color: $dark;
                opacity: 1;
            }
        }

        button {
            @include typography($serif, $xs, $bold);
            padding: 15px 30px;
            background-color: $dark;
            color: $negative;
            text-transform: uppercase;
            @include fadeIn(4s);
        }
    }
    
    // Terms and Conditions
    .terms {
        display: flex;
        padding: 30px 0 90px 0;
        width: 40%;

        // checkbox
        img {
            width: 15px;
            height: 15px;
            margin-right: 15px;
            cursor: pointer;
        }

        // javascript toggle class
        .hide {
            display: none;
        }

        // terms and condition paragraph
        p {
            @include typography($sans-serif, $xs, $thin);
            color: $negative;
            transform: translateY(-2px);
            @include fadeIn(4.1s);
        }
    }
}

// () - Animation

@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.visible {
    visibility: visible;
    opacity: 1;
    animation: visible 0.5s ease-out forwards;
}

@keyframes hidden {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.close {
    opacity: 0;
    animation: hidden 1s ease-out forwards;
}